@if (this.wrapperRadioCityAndWeather !== undefined) {
  <div class=" flex w-[100vw]">
    <div class="w-[40%] p-[1%] max-lg:w-[90%]">
      <app-weather-component>

        <ng-container slot="wiki-info">
          <h1 class="text-4xl max-lg:text-[1rem]">{{this.wrapperRadioCityAndWeather.city.name}}</h1>

          <svg xmlns="http://www.w3.org/2000/svg" (click)="selectHeart()" viewBox="0 0 24 24" [attr.fill]="heartIsSelected ? '#00FF00' : '#000000'" class="w-[30%] -mt-1.5 -ml-1.5"> <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/> </svg>
          <a [href]="`https://www.wikidata.org/wiki/${this.wrapperRadioCityAndWeather.city.wikiData}`" target="_blank" class="text-blue-500 max-lg:text-[0.8rem]">See {{this.wrapperRadioCityAndWeather.city.name}} in WikiData</a>
        </ng-container>

        <div class="flex" slot="weather-info">
          <div class="flex flex-col">
            <p class="text-4xl font-bold max-lg:text-[1.9rem]">{{this.kelvinToCelsius(this.wrapperRadioCityAndWeather.weather.main.temp)}} C</p>
            <p class="text-2xl font-medium max-lg:text-[1rem]">Feels Like {{ this.kelvinToCelsius(this.wrapperRadioCityAndWeather.weather.main.feels_like) }}</p>
            <p class="font-extralight max-lg:text-[0.9rem]">Max {{this.kelvinToCelsius(this.wrapperRadioCityAndWeather.weather.main.temp_max)}} Min {{this.kelvinToCelsius(this.wrapperRadioCityAndWeather.weather.main.temp_min)}}</p>
          </div>
        </div>

        <p slot="coords" class="text-2xl max-lg:text-[0.9rem]">Lat: {{this.wrapperRadioCityAndWeather.city.latitude}}</p>
        <p slot="coords" class="text-2xl max-lg:text-[0.9rem]">Lon: {{this.wrapperRadioCityAndWeather.city.longitude}}</p>

      </app-weather-component>

    </div>

    <div class="w-[60%] h-[35vh] mr-[1%] border-1 shadow-2xs shadow" appMapDirective [zoom]=8 [lat]=this.wrapperRadioCityAndWeather.city.latitude [lon]=this.wrapperRadioCityAndWeather.city.longitude [iCanShowMarker]="true">

    </div>

  </div>

  <div class="flex flex-col p-[1%] gap-y-[2vh] max-lg:gap-y-0 max-lg:p-0">

    <app-radio-component (radioChange)="play($event)" [radioArray]="this.wrapperRadioCityAndWeather.radioStations"></app-radio-component>

  </div>

  @if (this.wrapperRadioCityAndWeather.radioStations.length !== 0) {
    <div>

      <h2 class="text-2xl font-extralight max-lg:text-[0.9rem]">Reproduciendo {{this.nameStation}}</h2>

      <audio [src]=this.url
             controls
             preload="auto"
             autoPlay=true
             class="w-[100%] max-lg:h-[3.4vh]"
      ></audio>
    </div>
  }




}



