<div class="flex-row-reverse flex">

  <div class="flex p-[1.5%] space-x-2 overflow-x-auto">

    <button
      class="font-semibold bg-button-custom px-3 py-1 border-10 border-button-custom text-text-custom hover:bg-button-custom/90 transition"
      (click)="previous()"
    >
      <
    </button>

    @for (_ of Array.from({length: (this.totalPages <= 10) ? this.totalPages : this.slice}); track $index) {

      @if (this.sliceAt + $index + 1 <= this.totalPages) {
        <button (click)="changePage(this.sliceAt + $index )"
          class="font-semibold bg-button-custom px-3 py-1 border-10 border-button-custom text-text-custom hover:bg-button-custom/90 transition">
          {{ this.sliceAt + $index + 1 }}
        </button>
      }

    }

    <button
      class="font-semibold bg-button-custom px-3 py-1 border-10 border-button-custom text-text-custom hover:bg-button-custom/90 transition"
      (click)="next()"
    >

      >
    </button>

  </div>


</div>
