@import "tailwindcss" ;

.light{
  --color-custom-primary: #fff;
  --color-text: #000;
  --color-header-custom: #E2FFF6;
  --bg-color-button: rgba(0, 255, 119, 0.76);
  --bg-menu-bar: #fff;
  --bg-color-button-hover: #00ff77;
  --bg-color-ring: #00ffd9;

}

.dark{
  --color-custom-primary: #000;
  --color-text: #fff;
  --color-header-custom: #ff0000;
  --bg-color-button: #0624ff;
}

@theme{

  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;

  --color-custom-primary: var(--color-custom-primary);
  --color-text-custom: var(--color-text);
  --color-border-custom: var(--color-text);

  --color-header-custom: var(--color-header-custom);

  --color-button-custom: var(--bg-color-button);

  --color-button-hover: var(--bg-color-button-hover);

  --color-bg-menu:  var(--bg-menu-bar);

  --color-ring-primary: var(--bg-color-ring);

  --color-text-font-custom: var(--color-text);

}


body{
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-in-out forwards;
}
.animate-slide-out {
  animation: slideOut 0.3s ease-in-out forwards;
}
